# the build dir #
###########
/public

# Sass #
###########
.sass-cache/
*.css.map

# NPM #
###########
/node_modules

# JS #
###########
/static/js/jspm_packages/
/static/build.js.map
# /static/js/build.js
/static/js/build.js.map

# IMAGES #
###########
/static/img/src/

# DS Store #
###########
.DS_Store
