{{ partial "head.html" . }}
{{ partial "nav.html" . }}

{{/* event starts on the first date in the showtimes array */}}
{{ $start := (index .Params.showtimes 0) }}
{{/* event ends on the last date in the showtimes array */}}
{{ $end := (index .Params.showtimes (sub (len .Params.showtimes) 1) ) }}
<div class="container">
	<h2 class="show-title">
	  {{ .Title }}

	  {{/* only show the subtitle if it exists */}}
	  {{if .Params.subtitle}}
	    <small>{{ .Params.subtitle }}</small>
	  {{end}}
	</h2>

	{{ partial "youtube.html" . }}

	<img src="poster.jpg" />

	{{ .Content }}

	<h3 class="showtimes-title">Showtimes</h3>

	<ul class="showtimes-dates">
	  {{ range .Params.showtimes }}
	    <li>{{ dateFormat "Mon, Jan 2, 2006 at 3:04PM" . }}</li>
	  {{ end }}
	</ul>

	Run starts on
	  {{ dateFormat "Mon, Jan 2, 2006" $start }}
	and ends on
	  {{ dateFormat "Mon, Jan 2, 2006" $end }}

	<div>
	  {{ if .Prev }}
	    Previous: <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a> <br/>
	  {{ end }}
	  {{ if .Next }}
	    Next: <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
	  {{ end }}
	</div></div>

{{ partial "foot.html" . }}
