{{/* show starts on the first date in the showtimes array */}}
{{- $start := (time (index .Params.showtimes 0).time ) -}}
{{/* show ends on the last date in the showtimes array */}}
{{- $end := (time (index .Params.showtimes (sub (len .Params.showtimes) 1) ).time ) -}}

<div class="brief">
    {{ partial "show_or_event/poster.html" . }}

		<div class="figcaption">
			<h4 class="{{ .Type }}-title">
					{{ .Title }}
			</h4>
					{{- with .Params.subtitle }}
							<h6 class="subtitle">{{ . }}</h6>
					{{ end -}}

			<div class="meta">
				<div>
						{{- with .Params.slot -}}
								{{ . }}
						{{- else -}}
								{{ delimit (apply .Params.genres "title" "." ) "&" }}
						{{- end -}}
				</div>

				<div>
						{{ partial "show_or_event/byline.html" . }}
				</div>
			</div>

			<h6 class="months">
					{{- if eq $start $end -}}
							{{ dateFormat "January 2" $start }}
					{{- else -}}
							{{ dateFormat "January 2" $start }} -
									{{ dateFormat "January 2" $end }}
					{{- end -}}
			</h6>

		</div>

</div>
