{{/* assume this page's date */}}
{{- $start := (time .Date) -}}
{{- $end := (time .Date) -}}

{{- with .Params.showtimes -}}
    {{/* show starts on the first date in the showtimes array */}}
    {{- $start := (time (index . 0).time ) -}}
    {{/* show ends on the last date in the showtimes array */}}
    {{- $end := (time (index . (sub (len .) 1) ).time ) -}}
{{- end -}}

{{/* start out with a standard month format */}}
{{- $.Scratch.Set "monthFormat" "January" -}}
{{/* if the season has ended, note the year */}}
{{- if lt $end.Unix now.Unix -}}
    {{- $.Scratch.Set "monthFormat" "January 2006" -}}
{{- end -}}
{{- $monthFormat := ($.Scratch.Get "monthFormat") -}}
{{- $dayFormat := "20060102" -}}

{{/*
    start an array in Scratch called "months"
    containing one entry for each month represented
    in the showtimes
*/}}
{{/* start with the month of the start date */}}
{{- $.Scratch.Set "months" (slice (dateFormat $monthFormat $start)) -}}
{{- $.Scratch.Set "days" (slice nil) -}}
{{/*
    for all showtimes, add the month to the array if it's not already there
*/}}
{{- range $index, $showtime := .Params.showtimes -}}
    {{- if not (in ($.Scratch.Get "months") (dateFormat $monthFormat $showtime.time)) -}}
        {{- $.Scratch.Add "months" (dateFormat $monthFormat $showtime.time) -}}
    {{- end -}}
{{- end -}}

<div class="show-dates">
	<h3 class="months">
	    {{ delimit ($.Scratch.Get "months") ", " " & " }}
	</h3>
	<h4 class="days">
        {{- if gt (len .Pages) 0 -}}
            {{/* resources are the shows */}}
            {{- range $i, $show := .Pages.Reverse -}}
                <a href="{{ .Permalink }}" class="day">
                    <span>{{ dateFormat "2" .Date }}</span>
                </a>
                <a href="{{ .Permalink }}" class="subtitle">
                    <span>{{ .Params.subtitle }}</span>
                </a><br/>
            {{- end -}}
        {{- else if .Params.showtimes -}}
            {{/* use showtimes */}}
            {{- range $i, $showtime := .Params.showtimes -}}
                {{- if not (in ($.Scratch.Get "days") (dateFormat $dayFormat $showtime.time)) -}}
                    {{- $.Scratch.Add "days" (dateFormat $dayFormat $showtime.time) -}}
                    <a href="{{ $showtime.tickets }}" class="day">
                        <span>{{ dateFormat "2" $showtime.time }}</span>
                    </a>
                {{- end -}}
            {{ end }}
        {{- else -}}
            <a href="{{ .Permalink }}" class="day">
                <span>{{ dateFormat "2" .Date }}</span>
            </a>
            <a href="{{ .Permalink }}" class="subtitle">
                <span>{{ .Params.subtitle }}</span>
            </a><br/>
        {{- end -}}
	</h4>
</div>
