// ---- Base Typography ----

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-header;
}

h1 { font-size: 2em; }
h2 { font-size: (33 / 18) * 1em; }
h3 { font-size: (30 / 18) * 1em; }
h4 { font-size: (27 / 18) * 1em; }
h5 { font-size: (24 / 18) * 1em; }
h6 { font-size: (21 / 18) * 1em; }

body {
  font-size: $body-font-size;
  font-family: $font-stack-body;
}

.show-title {
  font-family: $font-stack-show;
}

.show-dates {
  font-family: $font-stack-show-dates;
}

.show-meta {
  font-family: $font-stack-meta;
}

.transbox {
	margin: 30px;
	background-color: $black;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

.show-circle {
	font-size: (15 / 18) * 1em;
	background-color: $color-accent;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	padding: 7px;
}
