// ---- Base Typography ----

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-header;
}

h1 { font-size: 2em; }
h2 { font-size: 1em; }
h3 { font-size: 1em; }
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

body {
  font-size: $body-font-size;
  font-family: $font-stack-body;
}

.show-title {
  font-family: $font-stack-show;
}

.show-dates {
  font-family: $font-stack-show-dates;
}

.show-meta {
  font-family: $font-stack-meta;
}
