// ---- Base ----

* {
  box-sizing: border-box;
}

a {
  color: $color-accent;
  text-decoration: none;
}

a:hover {
  color: $color-accent-dark;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
