// ---- Variables ----

// layout

$column-count: 12;
$column-padding: 20px;
$container-width-max: 1200px;
$start-tablet: 601px;
$start-laptop: 1001px;

// Colors

// palette
$royal:         		#582972;
$royal-light:   		mix(white, $royal, 50%);
$flat-gold:     		#f9a025;

// in use
$color-primary:  		$royal;
$color-accent:   		$flat-gold;
$white:          		#ffffff;
$black:          		#231f20;
$black-trans:				rgba(35, 31, 32, 0.75);
$full-trans:				rgba(35, 31, 32, 0);
$light-grey:     		mix($white, $royal, 95%);
$dark-grey:      		mix($black, $royal-light, 45%);
$color-accent-dark: mix($black, $color-accent, 35%);
$color-primary-dark:mix($black, $color-primary, 35%);
$thiry-background:	#4bb9e7;
$home-background: 	#40ad48;
$row-background: 		#1c87a2;
$calling-background:#ffdd17;
$happily-background:#af2525;

// Fonts
$font-path: '../fonts/';
$font-file-int-lig: 'Interstate-LightCondensed';
$font-file-int-reg: 'Interstate-RegularCondensed';
$font-file-int-bol: 'Interstate-BoldCondensed';
$font-file-int-bla: 'Interstate-Black';
$font-file-trend: 'TrendSansOne';
// $font-file-trend-three: 'TrendSansThree';
$font-file-twenty: 'TwentytwelveSlab-Regular';
@include font-face-otf($font-path, $font-file-trend);
// @include font-face-otf($font-path, $font-file-trend-three);
@include font-face-ttf($font-path, $font-file-int-lig);
@include font-face-ttf($font-path, $font-file-int-reg);
@include font-face-ttf($font-path, $font-file-int-bol);
@include font-face-ttf($font-path, $font-file-int-bla);
@include font-face-ttf($font-path, $font-file-twenty);

// font stacks
$font-stack-extra-bold: Interstate-Black, sans-serif;
$font-stack-header: Interstate-BoldCondensed, sans-serif;
$font-stack-show: TwentytwelveSlab-Regular, sans-serif;
$font-stack-meta: Interstate-LightCondensed, sans-serif;
$font-stack-body: Interstate-RegularCondensed, sans-serif;
$font-stack-pull-quotes: Interstate-BoldCondensed, sans-serif;
$font-stack-subtitle: Interstate-BoldCondensed, sans-serif;
$font-stack-show-dates: 'TrendSansOne', sans-serif;

$body-font-size: 16px;
