// ---- Variables ----

// layout

$column-count: 12;
$column-padding: 20px;
$container-width-max: 1200px;
$start-tablet: 601px;
$start-laptop: 1001px;

// Colors

// palette
$royal:         		#582972;
$flat-gold:     		#f9a025;
$off-white:					#fafafa;
$off-black:					#424242;

// in use
// grays
$white:          		#ffffff;
$gray-light:     		mix($white, $royal, 90%);
$gray-dark:      		mix($off-black, $royal, 90%);
$gray: 							mix($gray-light, $gray-dark, 50%);
$black:          		#231f20;
// colors
$primary:						$royal;
$primary-light:			mix($white, $primary, 50%);
$primary-dark:			mix($black, $primary, 50%);
$accent:						$flat-gold;
// transparent
$black-trans:				rgba(35, 31, 32, 0.75);
$nightmare-trans:		rgba(35, 31, 32, 0.98);
$full-trans:				rgba(35, 31, 32, 0);
$primary-trans:			rgba(88, 41, 114, 0.9);
$accent-trans:			rgba(259, 160, 37, 0.9);




// Fonts
$font-path: '../fonts/';
$font-file-int-lig: 'Interstate-LightCondensed';
$font-file-int-reg: 'Interstate-RegularCondensed';
$font-file-int-bol: 'Interstate-BoldCondensed';
$font-file-int-bla: 'Interstate-Black';
$font-file-trend: 'TrendSansOne';
// $font-file-trend-three: 'TrendSansThree';
$font-file-twenty: 'TwentytwelveSlab-Regular';
@include font-face-otf($font-path, $font-file-trend);
// @include font-face-otf($font-path, $font-file-trend-three);
@include font-face-ttf($font-path, $font-file-int-lig);
@include font-face-ttf($font-path, $font-file-int-reg);
@include font-face-ttf($font-path, $font-file-int-bol);
@include font-face-ttf($font-path, $font-file-int-bla);
@include font-face-ttf($font-path, $font-file-twenty);

// font stacks
$int-black: Interstate-Black, sans-serif;
$int-bold-cond: Interstate-BoldCondensed, sans-serif;
$int-reg: Interstate-RegularCondensed, sans-serif;
$int-light: Interstate-LightCondensed, sans-serif;
$trend: 'TrendSansOne', sans-serif;
$twenty: TwentytwelveSlab-Regular, sans-serif;

$body-font-size: 18px;
