{{ partial "head.html" . }}
{{ partial "nav.html" . }}

{{/* current series is the latest */}}
{{ $currentSeries := (index .Site.Taxonomies.series.TaxonomyArray 0) }}

<h1 id="title">{{ .Title }}</h1>

_default/list.html

{{ $.Scratch.Set "hasSeries" false }}
{{ range .Data.Pages }}
    {{ if .Params.series }}
        {{ $.Scratch.Set "hasSeries" true }}
    {{ end }}
{{ end }}

{{ if ($.Scratch.Get "hasSeries") }}
    {{/* anything in a series is grouped by series */}}
    {{ range (.Data.Pages.GroupByParam "series").Reverse  }}
        <h2>{{ .Key }}</h2>
        <ul>
        {{ range .Pages.ByDate }}
            <li>
                <span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
        </ul>
    {{ end }}
{{ else }}
    <ul>
    {{ range .Data.Pages.ByDate  }}
        <li>
            <span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
    </ul>
{{ end }}

{{ partial "foot.html" . }}
