{{ define "main" }}

<div class="container mt-md-5">
    <div class="row">
        {{- if .TableOfContents }}
            <div class="col-sm-12 col-md-4 col-lg-4 order-md-last my-3 my-md-0">
                <div class="toc">
                    <h4>{{ .Title }}</h4>
                    {{ .TableOfContents }}
                </div>
            </div>
        {{ end -}}
        <div class="col-sm-12 col-md-8 col-lg-8 order-md-first">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}
