{{/* show starts on the first date in the showtimes array */}}
{{- $start := (index .Params.showtimes 0).time -}}
{{/* show ends on the last date in the showtimes array */}}
{{- $end := (index .Params.showtimes (sub (len .Params.showtimes) 1) ).time -}}

{{- $.Scratch.Set "monthFormat" "January" -}}
{{- if lt $end.Unix .Now.Unix -}}
    {{- $.Scratch.Set "monthFormat" "January 2006" -}}
{{- end -}}
{{- $monthFormat := ($.Scratch.Get "monthFormat") -}}

{{- $.Scratch.Set "months" (slice (dateFormat $monthFormat $start)) -}}
{{- range $index, $showtime := .Params.showtimes -}}
    {{- $.Scratch.Set "hasMonth" false -}}
    {{- range $i, $month := ($.Scratch.Get "months") -}}
        {{- if eq $month (dateFormat $monthFormat $showtime.time) -}}
            {{- $.Scratch.Set "hasMonth" true -}}
        {{- end -}}
    {{- end -}}
    {{- if eq ($.Scratch.Get "hasMonth") false -}}
        {{- $.Scratch.Add "months" (dateFormat $monthFormat $showtime.time) -}}
    {{- end -}}
{{- end -}}

<div class="show-dates">
	<h6 class="months">
	    {{ delimit ($.Scratch.Get "months") ", " " & " }}
	</h6>
	<h6 class="days">
	    {{- range $i, $showtime := .Params.showtimes -}}
            <a href="{{ $showtime.tickets }}" class="day">
	            <span>{{ dateFormat "2" $showtime.time }}</span>
            </a>
	    {{ end }}
	</h6>
</div>
