{{ $imgPath := (printf "%s/%s/%s" .Section .Params.series (.Title | urlize)) }}
{{ $.Scratch.Set "poster" "poster.valid_img_ext" }}
{{ range (readDir (printf "content/%s" $imgPath)) }}
    {{ if hasPrefix .Name "poster" }}
        {{ $.Scratch.Set "poster" .Name }}
    {{ end }}
{{ end }}
{{ $imgFilePath := (printf "%s/%s" $imgPath ($.Scratch.Get "poster")) }}
<!--
Just a thought that we might use <figure> here
-->
<figure>
    <img src="{{ $imgFilePath }}" class="home-shows-poster" alt="{{ .Title }} poster">
    <figcaption>
        <!--
            We could use an H4 here or style it as <figcaption> specifically.
            Not sure what's "best"...
        -->
        <!-- <h4 class="home-shows-title"> -->
        {{ .Title }}
        <!-- </h4> -->
    </figcaption>
</figure>
