{{ $imgPath := (printf "%s/%s/%s" .Section .Params.series (.Title | urlize)) }}
{{ $.Scratch.Set "poster" "poster.valid_img_ext" }}
{{ range (readDir (printf "content/%s" $imgPath)) }}
    {{ if hasPrefix .Name "poster" }}
        {{ $.Scratch.Set "poster" .Name }}
    {{ end }}
{{ end }}
{{ $imgFilePath := (printf "%s/%s" $imgPath ($.Scratch.Get "poster")) }}
<!--
Just a thought that we might use <figure> here
-->
<figure>
	<a href="/show/{{ .Params.series }}/{{ (.Title | urlize) }}">
    <img src="{{ $imgFilePath }}" alt="{{ .Title }} poster">
	</a>
</figure>
