.calendar {
	h2 {
		font-family: $trend;
		font-weight: 400;
	}
	.event {
		@include flex-prop-prefixes(flex-direction, row);
		@include flex-prop-prefixes(align-items, center);
		margin-bottom: 1em;
	}
	.date {
		background-color: $accent;
		border-radius: 50%;
		font-family: $int-black;
		height: 67px;
		padding: 0;
		margin-right: 5px;
		margin-left: 5px;
		width: 67px;
		min-width: 67px;
		min-height: 67px;
		text-align: center;
		div:first-of-type {
			color: $black;
			padding: 3px;
		}
		div + div {
			color: $white;
		}
	}
	.time {
		h6 {
			margin: 0;
		}
		h6 span {
			background-color: $gray-light;
			border-radius: 6px;
			color: $gray;
			padding: 3px 9px;
			white-space: nowrap;
		}
	}
	figure {
		height: auto;
		width: 70px;
		margin: 0;
		img {
			height: auto;
			width: 100%;
		}
	}

	a.title {
		color: $black;
		font-family: $twenty;
		text-transform: uppercase;
	}

}

@media (min-width: $start-phablet) {
	.calendar {
		figure {
			width: 80px;
		}
	}
}

@media (min-width: $start-laptop) {
	.calendar {
		.date {
			margin-right: 20px;
			margin-left: 20px;
		}
		figure {
			width: 90px;
		}
	}
}
