// ---- Season ----

// the season calendar layout is located in taxonomy/series.html
// it uses partials located in:
// partials/show_or_event/brief.html
// partials/show_or_event/poster.html

@media (min-width: $start-tablet) {
	.season {
		img {
			height: 47 * 1.4vw;
			object-fit: cover;
		}
	}
}

@media (min-width: $start-laptop) {
	.season {
		img {
			height: 31 * 1.4vw;
		}
	}
}

@media (min-width: $container-width-max) {
	.season {
		img {
			max-height: 624.95px;
		}
	}
}
