{{ partial "head.html" . }}
{{ partial "nav.html" . }}

{{/* show starts on the first date in the showtimes array */}}
{{ $start := (index .Params.showtimes 0) }}
{{/* show ends on the last date in the showtimes array */}}
{{ $end := (index .Params.showtimes (sub (len .Params.showtimes) 1) ) }}

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-5 col-lg-7">
			<img src="poster.jpg" class="show-poster" />
		</div>
		<div class="col-sm-12 col-md-7 col-lg-5">
			<h2 class="show-title">
				{{ .Title }}
			</h2>

            {{/* only show the subtitle if it exists */}}
            {{if .Params.subtitle}}
            <h6 class="show-subtitle">
                <small>
                    {{ .Params.subtitle }}
                </small>
            </h6>
            {{end}}

			<div class="show-meta-container">
                {{if .Params.playwrights}}
                    {{ $links := apply .Params.playwrights "partial" "playwright/link.html" "." }}
    				<h6 class="show-meta">
                        <small>
    	                    By {{ delimit $links  ", " " & " }}
                        </small>
    				</h6>
                {{end}}
                {{if .Params.directors}}
                    {{ $links := apply .Params.directors "partial" "director/link.html" "." }}
    				<h6 class="show-meta">
    					<small>
    						Directed by {{ delimit $links ", " " & " }}
    					</small>
    				</h6>
                {{end}}
			</div>

			{{ partial "youtube.html" . }}

			<p>{{ .Content }}</p>

			<h5 class="show-see">See It Live</h5>

			{{ $.Scratch.Add "months" (slice (dateFormat "January" $start)) }}
			{{ range $index, $showtime := .Params.showtimes }}
				{{ $.Scratch.Set "hasMonth" false }}
				{{ range $i, $month := ($.Scratch.Get "months") }}
					{{ if eq $month (dateFormat "January" $showtime) }}
						{{ $.Scratch.Set "hasMonth" true }}
					{{ end }}
				{{ end }}
				{{ if eq ($.Scratch.Get "hasMonth") false }}
					{{ $.Scratch.Add "months" (dateFormat "January" $showtime) }}
				{{ end }}
				{{ $.Scratch.Add "days" (slice (dateFormat "2" $showtime)) }}
			{{ end }}

			<h3 class="show-month">{{ delimit ($.Scratch.Get "months") ", " " & " }}</h3>

			<h6 class="show-dates">
				{{ range $i, $day := ($.Scratch.Get "days") }}
					<span class="show-circle show-date">{{ $day }}</span>
				{{ end }}
			</h6>
        </div>
	</div>
</div>

</div>

{{ partial "foot.html" . }}
