// ---- Base Typography ----

h1, h2, h3, h4, h5, h6 {
  font-family: $int-bold-cond;
}

h1 {
  font-family: $int-black;
  text-transform: uppercase;
}

body {
  font-family: $int-light;
}

// classes with font family conventions

.show-title,
.brand-title,
.subtitle {
	font-family: $twenty;
}

.event-title {
	font-family: $int-black;
}

.months {
	font-family: $trend;
}

.meta {
	font-family: $int-bold-cond;
	font-size: (1/1.125) * 1em;
}
