// ---- Variables ----

// layout

$column-count: 12;
$column-padding: 20px;
$container-width-max: 1200px;
$start-phablet: 600px;
$start-tablet: 700px;
$start-laptop: 1001px;

// Fonts
$font-path: '/fonts/';
$font-file-int-lig: 'Interstate-LightCondensed';
$font-file-int-reg: 'Interstate-RegularCondensed';
$font-file-int-bol: 'Interstate-BoldCondensed';
$font-file-int-bla: 'Interstate-Black';
$font-file-trend: 'TrendSansOne';
// $font-file-trend-three: 'TrendSansThree';
$font-file-twenty: 'TwentytwelveSlab-Regular';
@include font-face-otf($font-path, $font-file-trend);
// @include font-face-otf($font-path, $font-file-trend-three);
@include font-face-ttf($font-path, $font-file-int-lig);
@include font-face-ttf($font-path, $font-file-int-reg);
@include font-face-ttf($font-path, $font-file-int-bol);
@include font-face-ttf($font-path, $font-file-int-bla);
@include font-face-ttf($font-path, $font-file-twenty);

// font stacks
$int-black: Interstate-Black, sans-serif;
$int-bold-cond: Interstate-BoldCondensed, sans-serif;
$int-reg: Interstate-RegularCondensed, sans-serif;
$int-light: Interstate-LightCondensed, sans-serif;
$trend: 'TrendSansOne', sans-serif;
$twenty: TwentytwelveSlab-Regular, sans-serif;

$body-font-size: 18px;
