<!-- these are needed in dev mode -->
<!-- <script src="/js/config.js"></script>
<script>
  System.import('/js/app').catch(function(err){ console.error(err); });
</script> -->
<!-- this should only be activated for production -->
<script src="js/build.js"></script>

<script>
  'use strict';

  var slideoutConfig = new Slideout({
      'panel': document.getElementById('panel'),
      'menu': document.getElementById('menu'),
      'padding': 256,
      'side': 'right',
      'fx': 'ease-in',
      'duration': 400,
      'tolerance': 70
  });

  document.querySelector('.toggle-button').addEventListener('click', function () {
      slideoutConfig.toggle();
  });
</script>
