<footer>

<div class="background-footer-sponsor">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="footer-section-title">Thanks to our sponsors!</h2>
		</div>
	</div>
    <div class="container-sponsor-lead">
        <h5>Lead Sponsor</h5>

        {{ range where (where .Site.Pages "Section" "sponsor") ".Params.is_lead" "==" true }}
            <p>
                <a href="{{ .Params.website }}">
                    {{ partial "sponsor/logo.html" . }}
                </a>
            </p>
        {{ end }}
    </div>
    <div class="container-sponsor-season">
        <h5>Season Sponsors</h5>
        <ul class="sponsor-season-list">
            {{ range where (where .Site.Pages "Section" "sponsor") ".Params.is_lead" "!=" true }}
                <li>
                    <a href="{{ .Params.website }}">
                        {{ partial "sponsor/logo.html" . }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
</div>

<div class="background-footer-info">
    <div class="container-footer-info">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<h5 class="footer-site-title">Bloomington<br>Playwrights<br>Project</h5>
			</div>
			<div class="col-md-9 col-sm-12">
				<ul class="footer-menu">
					{{ $currentNode := . }}
					{{ range .Site.Menus.main }}
						{{ if .HasChildren }}
							<li class="{{if $currentNode.HasMenuCurrent "main" . }}active{{end}} footer-menu-item footer-dropdown">
								<a href="javascript:;" class="">
									{{ .Pre }}
									<span>{{ .Name }}</span>
									{{ .Post }}
								</a>
								<ul class="footer-dropdown-menu">
									{{ range .Children }}
									<li class="{{if $currentNode.IsMenuCurrent "main" . }}active{{end}} footer-dropdown-menu-item">
										<a href="{{.URL}}"> {{ .Name }} </a>
									</li>
									{{ end }}
								</ul>
							</li>
						{{else}}
							<li class="footer-menu-item">
								<a class="" href="{{.URL}}">
									{{ .Pre }}
									<span>{{ .Name }}</span>
								</a>
							</li>
						{{end}}
					{{end}}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="footer-address">
					<p>107 West 9th Street</p>
					<p>Bloomington, IN 47404</p>
					<p>812.334.1188</p>
					<p>bppwrite@newplays.org</p>
				</div>
			</div>
		</div>
    </div>
</div>

</footer>

</body>
</html>
