<footer>

<div class="sponsor">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Thanks to our sponsors!</h2>
			</div>
		</div>
			<div class="sponsor-lead">
					<h5>Lead Sponsor</h5>

					{{ range where (where .Site.Pages "Section" "sponsor") ".Params.is_lead" "==" true }}
							<p>
									<a href="{{ .Params.website }}">
											{{ partial "sponsor/logo.html" . }}
									</a>
							</p>
					{{ end }}
			</div>
			<div class="sponsor-season">
					<h5>Season Sponsors</h5>
					<ul>
							{{ range where (where .Site.Pages "Section" "sponsor") ".Params.is_lead" "!=" true }}
									<li>
											<a href="{{ .Params.website }}">
													{{ partial "sponsor/logo.html" . }}
											</a>
									</li>
							{{ end }}
					</ul>
			</div>
	</div>
</div>

<div class="footer-traditional">
    <div class="container-wide">
		<div class="row">
			<div class="col-md-9 col-sm-12">
				<ul class="footer-menu">
					{{ $currentNode := . }}
					{{ range .Site.Menus.main }}
						{{ if .HasChildren }}
							<li class="{{if $currentNode.HasMenuCurrent "main" . }}active{{end}} menu-item dropdown">
								<a href="javascript:;" class="">
									{{ .Pre }}
									<span>{{ .Name }}</span>
									{{ .Post }}
								</a>
								<ul class="dropdown-menu">
									{{ range .Children }}
									<li class="{{if $currentNode.IsMenuCurrent "main" . }}active{{end}} dropdown-menu-item">
										<a href="{{.URL}}"> {{ .Name }} </a>
									</li>
									{{ end }}
								</ul>
							</li>
						{{else}}
							<li class="menu-item">
								<a class="" href="{{.URL}}">
									{{ .Pre }}
									<span>{{ .Name }}</span>
								</a>
							</li>
						{{end}}
					{{end}}
				</ul>
			</div>
			<div class="col-md-3 col-sm-12">
				<ul class="social-icons">
					<a href="https://twitter.com/bloomingplays"><li class="fa fa-twitter" aria-hidden="true"></li></a>
					<a href="https://www.facebook.com/BloomingtonPlaywrightsProject"><li class="fa fa-facebook" aria-hidden="true"></li></a>
					<a href="https://www.pinterest.com/bloomingplays"><li class="fa fa-pinterest-p" aria-hidden="true"></li></a>
					<a href="https://www.instagram.com/bloomingplays"><li class="fa fa-instagram" aria-hidden="true"></li></a>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Bloomington Playwrights Project<h2>
		</div>
	</div>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="address">
					<p>107 West 9th Street</p>
					<p>Bloomington, IN 47404</p>
					<p><a href="tel:+1-812-334-1188">812.334.1188</a></p>
					<p><a href="mailto:bppwrite@newplays.org">bppwrite@newplays.org</a></p>
				</div>
			</div>
			<div class="col-md-9 col-sm-12">
				<a href="/contact">Contact</a>
				<a href="/privacy-policy">Privacy Policy</a>
				<a href="/terms-and-conditions">Terms and Conditions</a>
				<a href="/facility-rentals">Facility Rentals</a>
			</div>
		</div>

    </div>
</div>

</footer>

</body>
</html>
