<nav id="menu">
  <ul>
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="menu-item dropdown{{if $.HasMenuCurrent "main" . }} active{{end}}">
          <a href="{{ .URL }}" class="">
            <span>{{ .Name }}</span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li class="dropdown-menu-item{{if $.IsMenuCurrent "main" . }} active{{end}}">
              <a href="{{.URL}}"> {{ .Name }} </a>
            </li>
            {{ end }}
          </ul>
        </li>
      {{else}}
        <li class="menu-item{{if $.IsMenuCurrent "main" . }} active{{end}}">
          <a class="" href="{{.URL}}">
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{end}}
    {{end}}
  </ul>
</nav>
<!-- main nav -->
<header id="panel" class="{{ if .IsHome }}home abs{{ end }}">
  <div class="container-wide">
    <div class="site-title">
      <a href="/"><h1>BPP</h1></a>
    </div>
    <div class="menu-container">
      <ul class="menu">
          {{- range .Site.Menus.main -}}
              {{- if eq ( .Pre | plainify ) "hero" -}}
                  <li class="menu-item">
                      <a class="" href="{{.URL}}">
                          <span>{{ .Name }}</span>
                      </a>
                  </li>
              {{- end -}}
          {{- end -}}
      </ul>
      	<a href="#" class="toggle-button"><li class="fa fa-bars" aria-hidden="true"></li></a>
    </div>
  </div>
</header>
