<!-- nav start-->
<header>
  <div class="container-nav">
    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}img/bpp-logo.svg" class="logo"></a>
    <ul class="menu">
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="{{if $currentNode.HasMenuCurrent "main" . }}active{{end}} menu-item dropdown">
            <a href="javascript:;" class="">
              {{ .Pre }}
              <span>{{ .Name }}</span>
              {{ .Post }}
            </a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li class="{{if $currentNode.IsMenuCurrent "main" . }}active{{end}} dropdown-menu-item">
                <a href="{{.URL}}"> {{ .Name }} </a>
              </li>
              {{ end }}
            </ul>
          </li>
        {{else}}
          <li class="menu-item">
            <a class="" href="{{.URL}}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
        {{end}}
      {{end}}
    </ul>
  </div>
</header>
<!-- nav end-->
