<!-- nav start-->
<header>
  <div class="container-wide">
    <div class="logo">
      <a href="/"><img src="/img/bpp-logo.svg"></a>
    </div>
    <ul class="menu">
        {{- range .Site.Menus.main -}}
            {{- if eq ( .Pre | plainify ) "hero" -}}
                <li class="menu-item">
                    <a class="" href="{{.URL}}">
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{- end -}}
        {{- end -}}
    </ul>
	<ul class="social-icons">
		<a href="https://twitter.com/bloomingplays"><li class="fa fa-twitter" aria-hidden="true"></li></a>
		<a href="https://www.facebook.com/BloomingtonPlaywrightsProject"><li class="fa fa-facebook" aria-hidden="true"></li></a>
		<a href="https://www.pinterest.com/bloomingplays"><li class="fa fa-pinterest-p" aria-hidden="true"></li></a>
		<a href="https://www.instagram.com/bloomingplays"><li class="fa fa-instagram" aria-hidden="true"></li></a>
	</ul>
  </div>
</header>
<!-- nav end-->
