{{ partial "head.html" . }}
{{ partial "nav.html" . }}

{{/* current series is the latest */}}
{{ $currentSeries := (index .Site.Taxonomies.series.TaxonomyArray 0) }}

<div class="hero-home">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="hero-home-text"><span class="hero-home-text-background">The <span class="hero-home-text-emphasis">only</span> professional theater in Indiana focused solely on <span class="hero-home-text-emphasis">new works</span>.</span></h2>
				</div>
			</div>
		</div>
</div>

	<div class="shows">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="section-title">Upcoming Shows {{ $currentSeries.Name }}</h2>
				</div>
			</div>
		</div>
		<div class="flex-container">
    	{{/* all current pages in the "show" section */}}
    	{{- range where $currentSeries.Pages.ByDate "Section" "show" -}}
			<div class="shows-card">
				{{ partial "show/poster.html" . }}
				<div class="show-info">
					<h3><a href="/show/{{ .Params.series }}/{{ (.Title | urlize) }}">{{ .Title }}</a></h3>
						{{ partial "show/dates.html" . }}
					</div>
				</div>
			{{- end -}}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="section-title">Read Our Blog</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-5">
				<img src="img/blog-fill.jpg" class="home-blog-img">
			</div>
			<div class="col-sm-12 col-md-6">
				<h1 class="home-blog-title">Vinyl Truffaut</h1>
				<h6 class="home-blog-lead">Knausgaard Lumbersexaul Cardigan</h6>
				<p class="home-blog-text">Vice williamsburg twee taxidermy craft beer. Chia irony pickled tacos, humblebrag disrupt selvage direct trade mixtape master cleanse skateboard asymmetrical swag normcore. Tattooed slow-carb tousled messenger bag kale chips, asymmetrical readymade migas fashion axe blog drinking vinegar godard intelligentsia fap leggings. Biodiesel gastropub austin listicle vegan sriracha. Wayfarers tousled skateboard, chambray cray everyday carry jean shorts readymade farm-to-table blue bottle swag tumblr. Literally meh cray, pitchfork chartreuse yr migas roof party scenester butcher fixie knausgaard typewriter. Cliche swag marfa, pug deep v seitan chillwave tumblr vinyl asymmetrical chambray kickstarter single-origin coffee crucifix.</p>
			</div>
		</div>

		<div class="img-sequence">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-8">
					<div class="about">
						<h2><span class="img-text-background">About</span></h2>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="tickets">
						<h2><span class="img-text-background">Tickets</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="education">
						<h2><span class="img-text-background">Education</span></h2>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-8">
					<div class="support">
						<h2><span class="img-text-background">Support</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>

{{ partial "foot.html" . }}
