{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<div class="hero-home">
	<div class="hero-home-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>The <span class="hero-home-text-emphasis">only</span> professional theater in Indiana focused solely on <span class="hero-home-text-emphasis">new works</span>.</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">

  <h3>Pages by Section</h3>

  {{ range $index, $section := .Data.Pages.GroupBy "Section" }}
    <h4>Section: {{ .Key }}</h4>
    <ul>
        {{ range .Pages }}
        <li>
          <span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
  {{ end }}

</div>

{{ partial "foot.html" . }}
