{{- partial "head.html" . -}}
<div class="home-intro">
  {{- partial "nav.html" . -}}

  {{/* current series is the latest */}}
  {{- $currentSeries := (index .Site.Taxonomies.series.Alphabetical.Reverse 0) -}}
  {{/* current show is one with Now between start and end */}}
  {{- $.Scratch.Set "currentShow" nil -}}
  {{- $.Scratch.Set "currentEvent" nil -}}
  {{/* next show is the earliest one where the start date is in the future */}}
  {{- $.Scratch.Set "nextShow" nil -}}
  {{- $.Scratch.Set "nextEvent" nil -}}
  {{/* if neither current nor next show is found, the current show is the latest */}}
  {{- range where $currentSeries.Pages.ByDate "Section" "in" (slice "show" "event") -}}
      {{/* show starts on the first date in the showtimes array */}}
      {{- $start := (index .Params.showtimes 0).time -}}
      {{/* show ends on the last date in the showtimes array */}}
      {{- $end := (index .Params.showtimes (sub (len .Params.showtimes) 1) ).time -}}
      {{- if gt $end.Unix .Now.Unix -}}
        {{/* it's either running now or it's in the future */}}
        {{- if lt $start.Unix .Now.Unix -}}
            {{/* it's running now */}}
            {{- if eq .Section "show" -}}
                {{- $.Scratch.Set "currentShow" . -}}
                {{- $.Scratch.Set "currentShowHero" (partial "hero.html" .) -}}
            {{- else -}}
                {{- $.Scratch.Set "currentEvent" . -}}
                {{- $.Scratch.Set "currentEventHero" (partial "hero.html" .) -}}
            {{- end -}}
        {{- else -}}
            {{/* it's in the future */}}
            {{- if eq .Section "show" -}}
                {{- $.Scratch.Set "nextShow" . -}}
                {{- $.Scratch.Set "nextShowHero" (partial "hero.html" .) -}}
            {{- else -}}
                {{- $.Scratch.Set "nextEvent" . -}}
                {{- $.Scratch.Set "nextEventHero" (partial "hero.html" .) -}}
            {{- end -}}
        {{- end -}}
      {{- end -}}
  {{- end -}}


  <!-- slider -->
	<div class="slider-wrap">
		<button>
			<svg>
				<defs>
					<linearGradient id="textGradient" x1="0%" y1="0%" x2="100%" y2="0%">
			      <stop offset="0%"></stop>
			      <stop offset="33.333%"></stop>
			      <stop offset="66.666%"></stop>
			      <stop offset="100%"></stop>
			    </linearGradient>
			  </defs>
				<text x="0" y="50" fill="url(#textGradient)">Get Tickets</text>
			</svg>
		</button>
    <div class="slider" id="slider">
      <div class="holder">

          {{- if ($.Scratch.Get "currentShow") -}}
              <div class="slide" style="background-image: url({{ $.Scratch.Get "currentShowHero" }})">
                  <span class="slide-text">
                      <span class="img-text-background">
                          <b>Now Playing:</b>
                          {{ ($.Scratch.Get "currentShow").Title | markdownify }}
                      </span>
                  </span>
              </div>
          {{- else if ($.Scratch.Get "nextShow") -}}
              <div class="slide" style="background-image: url({{ $.Scratch.Get "nextShowHero" }})">
                  <span class="slide-text">
                      <span class="img-text-background">
                          <b>Next Show:</b>
                          {{ ($.Scratch.Get "nextShow").Title | markdownify }}
                      </span>
                  </span>
              </div>
          {{- end -}}

          {{- if ($.Scratch.Get "currentEvent") -}}
              <div class="slide" style="background-image: url({{ $.Scratch.Get "currentEventHero" }})">
                  <span class="slide-text">
                      <span class="img-text-background">
                          <b>Now Playing:</b>
                          {{ ($.Scratch.Get "currentEvent").Title | markdownify }}
                      </span>
                  </span>
              </div>
          {{- else if ($.Scratch.Get "nextEvent") -}}
              <div class="slide" style="background-image: url({{ $.Scratch.Get "nextEventHero" }})">
                  <span class="slide-text">
                      <span class="img-text-background">
                          <b>Next Event:</b>
                          {{ ($.Scratch.Get "nextEvent").Title | markdownify }}
                      </span>
                  </span>
              </div>
          {{- end -}}

          {{- range where (where .Data.Pages "Section" "special") ".Params.is_active" true -}}
              <div class="slide" style="background-image: url({{ partial "hero.html" . }})">
                  <span class="slide-text">
                      <span class="img-text-background">
                          {{ .Title | markdownify }}
                      </span>
                  </span>
              </div>
          {{- end -}}
      </div>
    </div>
  	<nav class="slider-nav" id="slider-nav">
      <span class="fa fa-chevron-left" id="control-left" aria-hidden="true"></span>
      <span class="fa fa-chevron-down" id="control-down" aria-hidden="true"></span>
      <span class="fa fa-chevron-right" id="control-right" aria-hidden="true"></span>
  	</nav>
  </div>
</div>
<!-- shows -->
	<div class="shows">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="section-title">Upcoming Shows {{ $currentSeries.Name }}</h2>
				</div>
			</div>
		</div>
		<div class="flex-container">
    	{{/* all current pages in the "show" section */}}
    	{{- range where $currentSeries.Pages.ByDate "Section" "show" -}}
			<div class="shows-card">
				{{ partial "show/poster.html" . }}
				<div class="show-info">
					<h3><a href="/show/{{ .Params.series }}/{{ (.Title | urlize) }}">{{ .Title }}</a></h3>
						{{ partial "show/dates.html" . }}
					</div>
				</div>
			{{- end -}}
			</div>
		</div>
	</div>
	<!-- call-to-action -->
	<div class="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="lead">Buy a season ticket pass. Do it. Do it right now.</p>
					<p><a class="button" href="https://web.ovationtix.com/trs/store/34132/packages">Subscribe</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- join us image sequence -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="section-title">Join Us</h2>
			</div>
		</div>
		<div class="img-sequence">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="volunteer">
						<h2><span class="img-text-background"><a href="#">Volunteer</a></span></h2>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="education">
						<h2><span class="img-text-background"><a href="#">Youth Education Program</a></span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="donate">
						<h2><span class="img-text-background"><a href="#">Donate</a></span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>

{{ partial "foot.html" . }}
