// ---- Brief ----

// layouts/show_or_event/brief.html
// uses other partials

.figcaption {
	background-color: $black-trans;
  padding: 10px;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.brief .card .card-img-overlay {
  padding: 0;
}
