.show-info {
	h2 {
		font-family: $twenty;
		text-transform: uppercase;
		a {
			color: $black;
		}
	}
	p {
		font-family: $trend;
		letter-spacing: -.08rem;
		margin: 0;
		text-transform: capitalize;
	}
}

.days {
	margin: 3px 0 3px 0;
}
.day {
    display: inline-block;
	background-color: $accent;
	border-radius: 16.5px;
	color: $white;
	font-size: 18px;
	height: 33px;
  min-height:33px;
	padding-top: 5.5px;
	text-align: center;
	width: 33px;
  min-width: 33px;
  margin: 3px;
}
.days a:hover {
  color: $white;
  background-color: darken($accent, 15%);
}
.days .subtitle {
  color: $gray-dark;
  font-size: 1rem;
}

.days .subtitle:hover {
  color: $gray;
  background-color: inherit;
}
.months {
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 0 3px;
	text-shadow: 1.5px 1.5px $day-trans;
}
