// ---- Sponsor ----
// the sponsor section is contained in the footer partial

.sponsor {

  .local-grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .local-grid-sizer,
  .local-grid-item {
    width: calc(50% - 25px);
    margin-bottom: 25px;
  }

  .local-grid-item {
    float: left;
  }

  .local-grid-item img {
    height: auto;
    max-width: 100%;
  }

  .sponsor-season {
    ul {
      list-style: none;
    }
  }
}

// ---- media queries ----
 @include media-breakpoint-up(sm) {
  // sponsors
  .sponsor {
    .local-grid-item,
    .local-grid-sizer {
      width: calc(25% - 25px);
      margin-bottom: 25px;
    }
  }

  .traditional {
      .container-flex {
          height: 275px;
      }

      .container-flex.left {
          text-align: left;
      }

      .container-flex.right {
          text-align: right;
      }

      .copyright {
          padding-right: 60px;
      }
  }
}




// ---- Footer ----

footer {

    // ---- traditional footer ----
    .traditional {
        padding-top: 1em;

				.e-contact {
					margin-bottom: 1em;
				}

        .social-icons {
            margin: 0;
        }

        h2 {
            font-size: 2.074em;
            letter-spacing: 0;
        }

        form {
            padding-top:10px;
            label {
            	position:relative;
                .svg-inline--fa {
                	color: $white;
                  position: absolute;
                  left: 8px;
                  top: 50%;
                  transform: translateY(-50%);
                }
                #user-query {
									color: $white;
									background-color: $black;
									border: 1px solid $white;
                  padding-left: 2rem;
                }
            }
        }
    }
}

// ---- media queries ----
@media (min-width: $start-tablet) {
  .traditional {
      .copyright {
          padding-right: 60px;
      }
  }
}
