// ---- Footer ----

footer {
  background-color: $black;
  color: $white;
	text-align: center;

	// ---- sponsors ----

	.sponsor {
	  background-color: $white;
		color: $black;
	  padding-bottom: 0.25em;
		.sponsor-lead {
		  img {
		    height: 75px;
		    width: auto;
		  }
		}
		.sponsor-season {
			ul {
		  	@include flexbox();
		  	@include flex-prop-prefixes(flex-direction, row);
				@include flex-prop-prefixes(align-content, space-between);
		  	@include flex-prop-prefixes(justify-content, space-around);
				@include flex-prop-prefixes(flex-wrap, wrap);
		  	list-style: none;
		  	padding-bottom: 2em;
			}
			li {
				margin: 5px;
			}
			img {
				height: 50px;
				max-width: 100vw;
				width: auto;
			}
		}
	}

	// ---- traditional footer ----

	.traditional {
		padding-bottom: 1em;
		padding-top: 1em;

		// social icons
		.social-icons {
			margin: 0.25em 0 0 0;
			padding: 0;
		}
		.social-icons a {
			color: $white;
		}

		p {
			padding-bottom: 0;
			margin-bottom: 0;
		}

	}
}

// ---- media queries ----

@media (min-width: $start-tablet) {
	footer {
		// sponsors
		.sponsor {
			.sponsor-season {
				img {
					height: 65px;
				}
			}
		}
	}
}

@media (min-width: $start-laptop) {
	footer {
		// sponsors
		.sponsor {
			.sponsor-season {
				img {
					height: 75px;
				}
			}
		}
	}
}
