// ---- Sponsor ----
// the sponsor section is contained in the footer partial

.sponsor .sponsor-season {
  ul {
    list-style: none;
  }
}

.sponsor-lead img {
  max-width: 50%;
}

// ---- media queries ----
@include media-breakpoint-up(sm) {
  .traditional {
      .container-flex {
          height: 275px;
      }

      .container-flex.left {
          text-align: left;
      }

      .container-flex.right {
          text-align: right;
      }

      .copyright {
          padding-right: 60px;
      }
  }
}

@include media-breakpoint-up(md) {
  .sponsor-lead img {
    max-width: 20%;
  }
}

@include media-breakpoint-up(lg) {
  ul.tall li {
    flex: 0 0 12%;
    max-width: 12%;
  }
}



// ---- Footer ----

footer {

    // ---- traditional footer ----
    .traditional {
        padding-top: 1em;

				.e-contact {
					margin-bottom: 1em;
				}

        .social-icons {
            margin: 0;
        }

        h2 {
            font-size: 2.074em;
            letter-spacing: 0;
        }

        form {
            padding-top:10px;
            label {
            	position:relative;
                .svg-inline--fa {
                	color: $white;
                  position: absolute;
                  left: 8px;
                  top: 50%;
                  transform: translateY(-50%);
                }
                #user-query {
									color: $white;
									background-color: $black;
									border: 1px solid $white;
                  padding-left: 2rem;
                }
            }
        }
    }
}

// ---- media queries ----
@media (min-width: $start-tablet) {
  .traditional {
      .copyright {
          padding-right: 60px;
      }
  }
}
