.poster {
	margin: 0;
	img {
		width: 100%;
		height: auto;
	}
}

figure.poster:hover {
    z-index: 1;
}

figure.poster:hover img {
    filter: grayscale(1);
}

figure.poster:hover + div.figcaption {
    color: $primary-light;
}
