{{ define "main" }}

    {{/* current series is the latest */}}
    {{- $currentSeries := (index .Site.Taxonomies.series.Alphabetical.Reverse 0) -}}

    {{/* load scratch with all items with showtimes */}}
    {{/* one record for each showtime keyed on showtime */}}
    {{- range $page := where $currentSeries.Pages.ByDate "Section" "in" (slice "show" "event") -}}
        {{- range .Params.showtimes -}}
            {{- $.Scratch.SetInMap "calendar" ( (time .time).Unix | string) (dict "showtime" . "page" $page) -}}
        {{- end -}}
    {{- end -}}

    {{ .Content }}

    <div class="container calendar">
    	<h1>Shows and Events Calendar</h1>

        {{- $.Scratch.Set "months" (slice) -}}
        {{- range $weight, $dict := ($.Scratch.GetSortedMapValues "calendar") -}}
            {{- $.Scratch.Set "month" (dateFormat "January 2006" $dict.showtime.time) -}}
            {{- if not (in ($.Scratch.Get "months") ($.Scratch.Get "month")) -}}
                {{- $.Scratch.Add "months" ($.Scratch.Get "month") -}}
                <h2>
                    {{ $.Scratch.Get "month" }}
                </h2>
            {{- end -}}
            <div class="container-flex event">
									<div class="date-time container-flex">
										<div class="date">
											<div>{{ dateFormat "Mon" $dict.showtime.time }}</div>
											<div>{{ dateFormat "2" $dict.showtime.time }}</div>
											<div>{{ dateFormat "Jan" $dict.showtime.time }}</div>
										</div>
										<div class="time">
											<h6><span>{{ dateFormat "3:04 PM" $dict.showtime.time }}</span><h6>
										</div>
									</div>
                    {{ partial "show/poster.html" $dict.page }}
                <div class="description">
                    <a href="{{ $dict.page.RelPermalink }}">
                        {{ $dict.page.Title }}
                    </a>
                    - {{ $dict.page.Summary }}
                </div>
            </div>
        {{- end -}}

    </div>

{{ end }}
