{{ define "main" }}

    <h2>
      {{ .Title }}

      {{/* only show the subtitle if it exists */}}
      {{if .Params.subtitle}}
        <small>{{ .Params.subtitle }}</small>
      {{end}}
    </h2>

    <img src="logo.jpg" />

    {{ .Content }}

    <div>
      {{ if .NextPage }}
        Previous: <a class="previous" href="{{.NextPage.Permalink}}"> {{.NextPage.Title}}</a> <br/>
      {{ end }}
      {{ if .PrevPage }}
        Next: <a class="next" href="{{.PrevPage.Permalink}}"> {{.PrevPage.Title}}</a>
      {{ end }}
    </div>

{{ end }}
