{{ define "main" }}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="text-light bg-dark text-center rounded mt-3">
                <h1 class="py-5">
                    {{ printf "%s %s" .Title "Season" }}
                </h1>
            </div>
        </div>
    </div>

    <div class="row season">
        {{ .Content }}

        {{- range .Data.Pages.ByDate -}}
            {{ .Render "brief" }}
        {{- end -}}
    </div>

</div>

{{- end -}}
