<ol>
  <li>
    "Full-length" plays should have a complete running time of between 1 hour 15 minutes (75 minutes) to 2 hours 15 minutes (135 minutes).
  </li>
  <li>
    Plays submitted must be unpublished at the time of submission.
  </li>
  <li>
    Each submission should be sent to BPP via email. Send your email to <a href="mailto:literarymanager@newplays.org">literarymanager@newplays.org</a>
  </li>
  <li>
     Your email should include the following:
     <ol>
       <li>
         Tell us for which competition you are submitting: Reva Shiner Comedy or the script Woodward Newman Drama
       </li>
       <li>
         Tell us your name, phone number, and the name of your Play
       </li>
       <li>
         Tell us how you are satisfying the $10 administrative fee
         <ol>
           <li>Agent submitted scripts require no fee.</li>
           <li>If via Dramatist Guild membership, attach a copy of your DG card
           to the email</li>
           <li>If you have paid via Paypal on our website {{ partial "paypal_button.html" (dict "text" "Pay Reader Fee" "id" "BTLYFLANT6KSC") }},
           indicate your confirmation number and the email address used.</li>
           <li>Paypal is preferred, but if you can’t pay on-line, you may send a
           check or Money Order, (must be from a US bank). Tell us the
           check or Money Order number. Make it payable to “BPP” and mail
           to BPP, 107 W 9th ST, Bloomington, IN 47404</li>
         </ol>
       </li>
     </ol>
  </li>
  <li>
    Attach a PDF file containing your script with the following information
    included in the following order:
    <ol>
      <li>
         Title page with author name
      </li>
      <li>
        Synopsis (1 page or less)
      </li>
      <li>
        Character list/breakdown
      </li>
      <li>
        Production history for the play—Include readings and productions
      </li>
      <li>
        A brief bio of the playwright,
      </li>
      <li>
        Full Script
      </li>
      <li>
        Submissions that fail to include all requested information in the order listed will be
        disqualified from the contest.
      </li>
      <li>
         Plays submitted in previous years will be accepted.
      </li>
      <li>
        Two separate submissions per playwright per annual competition are allowed as
        long as each submission has all the required materials.
      </li>
    </ol>
  </li>
</ol>
