// ---- Call-to-Action Fixed on Slider ----

.slider-wrap {
	button {
		// positioning
		position: absolute;
		z-index: 3;
		margin: 0 auto;
		top: 5vh; right: 0; bottom: 0; left: 0;
		width: 325px; // width has to be set to perfectly center if positioned absolute
		height: 80px;
		// styling
		border-color: transparent;
		border-radius: 0;
		background-color: $white;
		color: $color-accent;
		font-family: $font-stack-show-dates;
		font-size: 2em;
		svg {
			stop:nth-of-type(1) {
				animation: firstWave 9s linear infinite;
				stop-color: $color-accent;
			}
			stop:nth-of-type(2) {
				animation: secondWave 9s linear infinite;
				stop-color: $color-accent;
			}
			stop:nth-of-type(3) {
				animation: thirdWave 9s linear infinite;
				stop-color: $color-primary;
			}
			stop:nth-of-type(4) {
				animation: fourthWave 9s linear infinite;
				stop-color: $color-primary;
			}
		}
	}

	button:hover {
		animation: gradientWave 9s linear infinite;
		background: $color-accent; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, $color-accent, $color-primary); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(left, $color-accent, $color-primary); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(left, $color-accent, $color-primary); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, $color-accent, $color-primary); /* Standard syntax */
		border: none;
		svg {
			text {
				fill: $white;
			}
		}
	}

	@keyframes firstWave{0% { stop-color: $color-accent; } 25%{ stop-color: $color-primary; } 50%{ stop-color: $color-primary; } 75%{ stop-color: $color-accent; } 100%{ stop-color: $color-accent; }}
	@keyframes secondWave{0%{ stop-color: $color-accent; } 25% { stop-color: $color-accent; } 50%{ stop-color: $color-primary; } 75%{ stop-color: $color-primary; } 100%{ stop-color: $color-accent; }}
	@keyframes thirdWave{0% { stop-color: $color-primary; } 25%{ stop-color: $color-accent; } 50%{ stop-color: $color-accent; } 75%{ stop-color: $color-primary; } 100%{ stop-color: $color-primary; }}
	@keyframes fourthWave{0% { stop-color: $color-primary; } 25%{ stop-color: $color-primary; } 50%{ stop-color: $color-accent; } 75%{ stop-color: $color-accent; } 100%{ stop-color: $color-primary; }}

}
