// ---- Footer ----

footer {
  background-color: $black;
  color: $light-grey;
}

// ---- sponsors ----
.sponsor {
  background-color: $light-grey;
	color: $dark-grey;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
	text-align: center;
	h2 {
		margin: 1em 0 0 0;
	}
	h5 {
		margin: 1.25em 0 1.25em 0;
	}
	$filter-factor: 95%;
	.sponsor-lead {
	  img {
	    height: 75px;
	    width: auto;
	    filter: grayscale($filter-factor);
	    -webkit-filter: grayscale($filter-factor);
	  }
	}
	.sponsor-season {
		ul {
	  	@include flexbox();
	  	@include flex-prop-prefixes(flex-direction, row);
			@include flex-prop-prefixes(align-content, space-between);
	  	@include flex-prop-prefixes(justify-content, space-around);
			@include flex-prop-prefixes(flex-wrap, wrap);
	  	list-style: none;
	  	padding-left: 0;
		}
		li {
			margin: 5px;
		}
		img {
			height: 60px;
			width: auto;
			filter: grayscale($filter-factor);
			-webkit-filter: grayscale($filter-factor);
		}
	}
}

.container-footer-info {
	padding-top: 1em;
	text-align: center;
}

.footer-address {
	padding-bottom: 1em;
}

.footer-address p {
	margin: 0;
	padding: 0;
}

.footer-site-title {
	margin-top: 0;
}

// ---- footer menu ----

.footer-menu {
  @include flexbox();
  @include flex-prop-prefixes(flex-wrap, wrap);
  @include flex-prop-prefixes(justify-content, space-between);
  @include flex-prop-prefixes(align-items, center);
	@include flex-prop-prefixes(flex-direction, column);
  font-family: $font-stack-header;
  list-style: none;
	margin-top: 0;
  text-align: center;
	padding-left: 0;
}

.footer-menu-item {
	@include flexbox();
	@include flex-prop-prefixes(flex-direction, row);
	@include flex-prop-prefixes(align-items, baseline);
}

.footer-dropdown-menu {
	@include flexbox();
	@include flex-prop-prefixes(flex-direction, row);
	@include flex-prop-prefixes(justify-content, center);
  list-style: none;
	padding: 0.5em 0 0 0;
}

.footer-dropdown-menu-item {
	padding-left: (5 / 16) * 1em;
}

@media (min-width: $start-tablet) {
  .container-footer-info {
    text-align: left;
  }
	.footer-menu {
	  @include flexbox();
	  @include flex-prop-prefixes(flex-wrap, wrap);
	  @include flex-prop-prefixes(justify-content, flex-end);
	  @include flex-prop-prefixes(align-items, flex-start);
		@include flex-prop-prefixes(flex-direction, row);
	  font-family: $font-stack-header;
	  list-style: none;
		margin-top: 0;
	  text-align: center;
	}
	.footer-menu-item {
		@include flex-prop-prefixes(flex-direction, column);
		@include flex-prop-prefixes(align-items, center);
	}
	.footer-menu-item + .footer-menu-item {
		padding-left: 2em;
	}
	.footer-dropdown-menu-item {
		padding-left: 0;
	}
}
