// ---- Footer ----

footer {
  background-color: $black;
  color: $gray-light;



	// ---- sponsors ----

	.sponsor {
	  background-color: $gray-light;
		color: $gray-dark;
	  padding-top: 0.25em;
	  padding-bottom: 0.25em;
		text-align: center;
		h2 {
			margin: 1em 0 0 0;
		}
		h5 {
			margin: 1.25em 0 1.25em 0;
		}
		$filter-factor: 95%;
		.sponsor-lead {
		  img {
		    height: 75px;
		    width: auto;
		    filter: grayscale($filter-factor);
		    -webkit-filter: grayscale($filter-factor);
		  }
		}
		.sponsor-season {
			ul {
		  	@include flexbox();
		  	@include flex-prop-prefixes(flex-direction, row);
				@include flex-prop-prefixes(align-content, space-between);
		  	@include flex-prop-prefixes(justify-content, space-around);
				@include flex-prop-prefixes(flex-wrap, wrap);
		  	list-style: none;
		  	padding-bottom: 2em;
			}
			li {
				margin: 5px;
			}
			img {
				height: 50px;
				max-width: 100vw;
				width: auto;
				filter: grayscale($filter-factor);
				-webkit-filter: grayscale($filter-factor);
			}
		}
	}



	// ---- traditional footer ----

	.traditional {
		text-align: center;



		// address
		.address {
			padding-top: 0.25em;
		}
		.address p {
			margin: 0;
			padding: 0;
		}



		// social icons
		.social-icons {
			margin: 0.25em 0 0 0;
			padding: 0;
		}
		.social-icons a {
			color: $gray-light;
		}

	}
}



// ---- media queries ----

@media (min-width: $start-tablet) {
	footer {



		// sponsors
		.sponsor-season {
			img {
				height: 60px;
			}
		}



		// traditional footer
		.traditional {

			// container
			.container {
				padding-top: 2em;
				padding-bottom: 1.5em;
			}


			// two p's and social icons
			.left-collection {
				text-align: left;
			}

			.left-collection p {
				margin-top: 0.25em;
				margin-bottom: 0;
			}



			// address
			.address {
				text-align: right;
			}
		}
	}
}

@media (min-width: $start-laptop) {

}
