// ---- Home Page ----



// ---- hero  ----

.hero-home {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 450px;
}

.hero-home-text {
	color: $white;
	margin: 0;
	text-align: center;
	padding-top: 150px;
}

.hero-home-text-emphasis {
	color: $color-accent;
	font-family: $font-stack-show;
	text-transform: uppercase;
}




// ---- shows  ----

.shows {
	background-color: $light-grey;
	padding-bottom: 4em;
	.flex-container {
		@include flexbox();
		@include flex-prop-prefixes(justify-content, space-between);
		@include flex-prop-prefixes(align-items, center);
		@include flex-prop-prefixes(flex-direction, column);
		@include flex-prop-prefixes(flex-wrap, wrap);

		.shows-card {
			@include flexbox();
			@include flex-prop-prefixes(justify-content, space-around);
			@include flex-prop-prefixes(align-items, center);
			@include flex-prop-prefixes(flex-direction, column);
			@include flex-prop-prefixes(flex-wrap, wrap);
			width: 100%;

			.show-info {
				background-color: $white;
				border-bottom: 15px solid $black;
				padding: 1.5em;
				margin-top: 1em;
				h3 {
					font-family: $font-stack-show;
					margin: 0.5em 0 0.25em 0;
				}
			}

			figure {
				margin: 0;
				width: 25%;
				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.shows-card + .shows-card {
			margin-top: 2em;
		}

	}

	.shows-card:nth-child(odd) {
		.show-info  {
			@include flex-prop-prefixes(order, 2);
			border-bottom-color: $color-primary-dark;
		}
		figure {
			@include flex-prop-prefixes(order, 1);
			img {
				box-shadow: -10px 10px $color-primary;
			}
		}
	}
	.shows-card:nth-child(even) {
		.show-info  {
			@include flex-prop-prefixes(order, 2);
			border-bottom-color: $color-accent-dark;
		}
		figure {
			@include flex-prop-prefixes(order, 1);
			img {
				box-shadow: 10px 10px $color-accent;
			}
		}
	}

}

// ---- blog  ----

.home-blog-img {
	width: 99%;
	height: auto;
}

.home-blog-title {
	margin: 0 0 0.5em 0;
}

.home-blog-lead {
	margin: 0;
}

// ---- image sequence  ----
.img-sequence {
	color: $white;
	margin: 3em 0 3em 0;
	.short {
		height: 375px;
		margin-top: 20px;
	}
	.long {
		height: 375px;
		margin-top: 20px;
	}
	.about {
		@extend .long;
		background-image: url(../img/about-fill.jpg);
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	.tickets {
		@extend .short;
		background-image: url(../img/tickets-fill.jpg);
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	.education {
		@extend .short;
		background-image: url(../img/education-fill.jpg);
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	.support {
		@extend .long;
		background-image: url(../img/support-fill.jpg);
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	h2 {
		margin: 0;
		padding: 30px 0 0 30px;
	}
}

// ---- media queries  ----

@media (min-width: $start-tablet) {

	// ---- hero  ----

	.hero-home {
		height: 500px;
	}

	.hero-home-text {
		padding-top: 300px;
	}

	// ---- shows  ----

	.shows {

		.shows-card:nth-child(odd) {
			.show-info  {
				@include flex-prop-prefixes(order, 2);
			}
			figure {
				@include flex-prop-prefixes(order, 1);
				img {
					box-shadow: -25px 25px $color-primary;
				}
			}
		}
		.shows-card:nth-child(even) {
			.show-info  {
				@include flex-prop-prefixes(order, 1);
			}
			figure {
				@include flex-prop-prefixes(order, 2);
				img {
					box-shadow: 25px 25px $color-accent;
				}
			}
		}

		.flex-container {
			.shows-card {
				@include flex-prop-prefixes(flex-direction, row);
			}
		}

		.show-info {
			margin-top: 0;
		}

	}

}

@media (min-width: $start-laptop) {

	// ---- hero  ----

	.hero-home {
		height: 550px;
	}

	.hero-home-text {
		padding-top: 350px;
	}

}
