// ---- Home Page ----

.hero-home {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 450px;
}

.hero-home-text {
	color: $white;
	margin: 0;
	text-align: center;
	padding-top: 150px;
}

.hero-home-text-emphasis {
	color: $color-accent;
	font-family: $font-stack-show;
	text-transform: uppercase;
}

.home-shows-container {
	@include flexbox();
	@include flex-prop-prefixes(justify-content, space-between);
	@include flex-prop-prefixes(align-items, flex-start);
	@include flex-prop-prefixes(flex-direction, row);
	@include flex-prop-prefixes(flex-wrap, wrap);
}

.home-shows-card {

}

.home-shows-title {
	font-family: $font-stack-show;
	margin: 0.5em 0 0.25em 0;
}

.home-shows-poster {
	width: 325px;
	height: auto;
}

.home-shows-month {
	text-transform: uppercase;
	font-family: $font-stack-show-dates;
	margin: 0;
}

.home-show-dates {
	@extend .show-dates;
	margin: 0.5em 0 0.5em 0;
	@include flexbox();
	@include flex-prop-prefixes(justify-content, space-between);
	@include flex-prop-prefixes(align-items, flex-start);
}

@media (min-width: $start-tablet) {
	.hero-home {
		height: 500px;
	}
	.hero-home-text {
		padding-top: 300px;
	}
}
@media (min-width: $start-laptop) {
	.hero-home {
		height: 550px;
	}
	.hero-home-text {
		padding-top: 350px;
	}
}
