header {
  @include flexbox();
  @include flex-prop-prefixes(justify-content, space-between);
  a {
    color: $black;
  }
}

.menu {
  @include flexbox();
  @include flex-prop-prefixes(flex-wrap, wrap);
  font-family: $font-stack-header;
  list-style: none;
  width: 17.5em;
}

.menu-item {
  @include flex(0 0 25%);
  border-top: 1px solid $black;
  margin-left: 0.5em;
  padding-top: 0.25em;
}

.site-name {
  font-size: 1.333em;
  width: 10%;
}

.dropdown {
  position: relative;
}

.dropdown:after {
  content: "\25BC";
  font-size: 0.5em;
}

.dropdown-menu {
  position: absolute;
  display: none;
  list-style: none;
}

.dropdown-menu-item {
  border-top: 1px solid $black;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
