// ---- Navigation ----

header {
	background-color: $black;
  a {
    color: $white;
  }
	// First of Two Flexbox parents
	.container-wide {
		@include flexbox();
		@include flex-prop-prefixes(justify-content, space-between);
		@include flex-prop-prefixes(align-items, center);
		@include flex-prop-prefixes(flex-direction, column);
	}
	.logo {
		height: auto;
		width: 5em;
		padding-bottom: 0.5em;
	}
	// Second of Two Flexbox parents
	.menu {
	  @include flexbox();
	  @include flex-prop-prefixes(flex-wrap, wrap);
	  @include flex-prop-prefixes(justify-content, space-between);
	  @include flex-prop-prefixes(align-items, flex-end);
	  font-family: $font-stack-show-dates;
		font-size: (13 / 16) * 1em;
	  list-style: none;
		padding-left: 0;
	}
	.menu-item {
		padding-top: 1em;
	}
	.menu-item + .menu-item {
		padding-left: 2em;
	}
	.dropdown {
	  position: relative;
	}
	.dropdown:after {
	  color: $white;
	  content: "\25BC";
	  font-size: 0.5em;
	}
	.dropdown-menu {
	  position: absolute;
	  display: none;
	  list-style: none;
	}
	.dropdown:hover > .dropdown-menu {
	  display: block;
	}
	.social-icons {
		padding-top: 1.5em;
	}
}

// ---- Media Queries ----

@media (min-width: $start-laptop) {
	header {
		.container-wide {
			@include flexbox();
			@include flex-prop-prefixes(justify-content, space-between);
			@include flex-prop-prefixes(flex-direction, row);
		}
		.logo {
			padding-bottom: 0;
		}
		.menu {
			@include flex-prop-prefixes(justify-content, flex-end);
			width: auto;
		}
		.menu-item, .social-icons {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
