// ---- Shows ----

.show-title {
  font-family: $font-stack-show;
  text-transform: uppercase;
	margin: 20px 0 0.75em 0;
}

.showtimes-dates {
  font-family: $font-stack-show-dates;
}

.show-month {
	font-family: $font-stack-show-dates;
	margin: 0;
	text-transform: uppercase;
}

.show-see {
	text-transform: uppercase;
	margin: 1.25em 0 0 0;
}

.show-meta {
	font-family: $font-stack-meta;
	margin: 0;
}

.show-meta-container {
	margin: 0 0 0.75em 0;
}

.show-subtitle {
	font-family: $font-stack-subtitle;
	margin: 0 0 0.75em 0;
}

.show-poster {
	width: 100%;
	height: auto;
}

.show-data {
	padding: 0 2.5% 0 2.5%;
}

@media (min-width: $start-tablet) {
  .show-data {
		padding: 1em 1% 0 1%;
	}
}
@media (min-width: $start-laptop) {
  .show-data {
		padding: 2em 5% 0 5%;
	}
}
