// ---- Slider ----

.slider-wrap {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

	.slider {
	  overflow-x: scroll;
	}
	.holder {
	  width: 400%;
	}
	.slide {
	  float: left;
	  width: (100 / 4) * 1%;
	  height: 100vh;
	  position: relative;
    background: $gray-dark;
	  background-position: center center;
    background-size: cover;
	}
	.slide-text {
	  position: absolute;
	  color: $white;
	  font-size: (27 / 18) * 1em;
		font-family: $int-reg;
		bottom: 33%;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}



	// ---- slide nav ----
  span.fa {
    color: $gray-light;
    font-size: 2em;
  }

	// .fa-chevron-left:before {
	// 	background: linear-gradient(to right, $black-trans, rgba(35, 31, 32, 0));
	// 	padding: 10px;
	// }
	//
	// .fa-chevron-right:before {
	// 	background: linear-gradient(to left, $black-trans, rgba(35, 31, 32, 0));
	// 	padding: 10px;
	// }

	.fa-chevron-down:before {
		background: linear-gradient(to top, $black-trans, rgba(35, 31, 32, 0));
		padding: 10px;
	}

	.slider-nav {
		position: absolute;
		width: 100%;
    height: 100vh;
    top: 0;
    .fa {
      position: absolute;
    }
    #control-down {
      top: auto;
      bottom: 10px;
      left: 50%;
      right: 50%;
      z-index: 2;
    }
    #control-left {
      top: 50%;
      bottom: 50%;
      left: 10px;
			z-index: 2;
    }
    #control-right {
      top: 50%;
      bottom: 50%;
      right: 10px;
			z-index: 2;
    }
		#control-down, #control-left, #control-right {
			cursor: pointer;
		}
	}

}
