// ---- Slider ----

.slider-wrap {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

	.slider {
	  overflow-x: scroll;
	}
	.holder {
	  width: 300%;
	}
	.slide {
	  float: left;
	  width: (100 / 3) * 1%;
	  height: 100vh;
	  position: relative;
      background: $dark-grey center center;
	  background-position: -100px 0;
      background-size: cover;
	}
	.slide-text {
	  position: absolute;
	  color: $white;
	  font-size: (33 / 18) * 1em;
		bottom: 33%;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}



	// ---- individual slides ----

	// #slide-0 {
	//   background: url(../img/slide-0.jpg) center center;
	// 	background-size: cover;
	// }
	// #slide-1 {
	//   background: url(http://farm8.staticflickr.com/7384/8730654121_05bca33388_z.jpg) center center;
	// 	background-size: cover;
	// }
	// #slide-2 {
	//   background: url(../img/slide-2.jpg) center center;
	// 	background-size: cover;
	// }



	// ---- slide nav ----
  span.fa {
    color: $white;
    font-size: (27 / 18) * 1em;
  }

	.slider-nav {
		position: absolute;
		width: 100%;
    height: 100%;
    top: 0;
    .fa {
      position: absolute;
    }
    #control-down {
      top: auto;
      bottom: 5vh;
      left: 50%;
      right: 50%;
      z-index: 2;
    }
    #control-left {
      top: 50%;
      bottom: 50%;
      left: 5vh;
    }
    #control-right {
      top: 50%;
      bottom: 50%;
      right: 5vh;
    }
	}

}
